/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Components layer: reusable custom classes */
/* @layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
  }
  @media (min-width: 768px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .btn {
    display: inline-block;
    background-color: #16a34a;
    color: #fff;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(16 185 129 / 0.05);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn:hover {
    background-color: #15803d;
  }
  .btn-secondary {
    display: inline-block;
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(16 185 129 / 0.05);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-secondary:hover {
    background-color: #d1d5db;
  }
  .card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 rgb(16 185 129 / 0.05);
    overflow: hidden;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card:hover {
    box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.1),
      0 4px 6px -4px rgba(16, 185, 129, 0.1);
  }
  .heading-underline {
    display: inline-block;
    border-bottom: 4px solid #16a34a;
    padding-bottom: 0.25rem;
  }
} */

/* Utilities layer: extra utility classes */
@layer utilities {
  .scrollbar-hide {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* utilities อื่น ๆ */
@layer utilities {
  .hide-edge-reveal::-ms-reveal,
  .hide-edge-reveal::-ms-clear {
    display: none;
  }
}

@layer utilities {
  /* ซ่อนปุ่มปฏิทิน native ของ Chrome/Edge แต่ยังคลิกได้ */
  .date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px; /* ให้จุดคลิกทับไอคอน Lucide */
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0 !important; /* กันกรณีสไตล์อื่นทับ */
    -webkit-appearance: none; /* กันกรณีพิมพ์ซ้ำเป็นภาพ */
    appearance: none;
    background: none;
    color: transparent;
    cursor: pointer;
  }

  /* กันเคอร์เซอร์พื้นที่ไอคอนดูเป็น text */
  .date-input {
    cursor: text;
  }
}
